/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
body {
 line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
 display:block;
}
nav ul {
 list-style:none;
}
blockquote, q {
 quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}
a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}
/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}
/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000; 
 font-style:italic;
 font-weight:bold;
}
del {
 text-decoration: line-through;
}
abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}
table {
 border-collapse:collapse;
 border-spacing:0;
}
/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0; 
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}
input, select {
 vertical-align:middle;
}

body {
    display: flex;
    margin: 0px;
}

h1{
    font-family: myFont;
    font-size: 24px;
    letter-spacing: 1.5px;
}

h2{
    font-family: myFont;
    font-size: 19px;
    letter-spacing: .5px;
}

h3{
    font-family: myFont;
    font-size: 12px;
    letter-spacing: .5px;
}

h4{
    font-family: myFont;
    font-size: 12px;
    letter-spacing: .5px;
}

p{
    font-family: myFont;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 18px;
}

@font-face {
    font-family: myFont;
    src: url(/fonts/Din.ttf);
}

.image-container {
    display: inline-grid;
  /*  padding: 0 1rem 2rem 0;*/
}

.canvas-container {
    width: 307px;
    height: 123px;
}

.canvas-container canvas {
    transform: scale(1);
    transform-origin: center center;
}

#hybrid-image{
    transform: scale(1);
    transform-origin: center center;    
}

#control-panel {
    font-family: myFont;
    color: white;
    width: 20rem;
    height: 100%;
    display: inline-block;
    float: left;
    background-color: #E51555;
    padding: 6rem 4rem 67px 2rem;
    margin: 0;
}

.interaction-div{
    padding-top: 3.5rem;
}

h3{
    padding-top: 15px;
    padding-bottom: 5px;
}

.interactables{
    padding-top: 1rem;
    padding-left: 2rem;
}

.slider-number-value {
    position: fixed;
    pointer-events: none;
    font-weight: bold;
    color: black;
    padding-top: 17px;
    padding-left: 10px;
}

.secondslider{
    padding-top: .5rem;
}

#image-storage {
    display: none;
}

.nav{
    padding: 300px, 10px, 0, 10px;
    width: 40px;
}

#main-screen{
    width: 100%;
}

#top{
    height: 565px;
}

#image-wrapper {
    padding-top: 3rem;
    font-family: myFont;
    display: inline-block;
    letter-spacing: 1pt;
    font-size: 18pt;
    width: 700px;
    height: 550px;
    text-transform: uppercase;
}

/* ICONS */

#infopanel-icon, #close-icon, #left-icon, #right-icon {
    background: url("assets/spritesheet.png") no-repeat;
}

#close-icon{
    float: right;
    right: 15px;
    margin-top: 25px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: fixed;
    background-position: 0 0;
    z-index: 2;
}
 
#close-icon:hover{
    background-position: -40px 0;
    cursor: pointer;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

#left-icon{
    display: inline-block;
    float: left;
    margin-left: 5%;
    margin-right:20px;
    margin-top: 250px;
    width: 40px;
    height: 64px;
    background-position: -80px -40px;
}

#left-icon:hover{
    background-position: 0 -40px;
    cursor: pointer;
    transition:all 0.3s ease;
}

#right-nav{
    float: right;
    margin-right: 0px;
    display: inline-block;
}

#infopanel-icon{
    margin: 20px 20px 0px;
    float: right;
    width: 30px;
    height: 30px;
    background-position: -80px 0;
}

#infopanel-icon:hover{
    background-position: -120px 0;
    cursor: pointer;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

#right-icon{
    margin-top: 250px;
    margin-left: 20px;
    margin-right: 3rem;
    width: 40px;
    height: 64px;
    background-position: -120px -40px;
}

#right-icon:hover{
    background-position: -40px -40px;
    cursor: pointer;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

#original-images{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 8%;
}

.hybrid-thumbnail{
    width:70%;
    border: 1px solid #aaaaaa;
}

#flip-button{
    border: 1px solid #E51555;
    color: #E51555;
    border-radius: 10px;
    background-color: #ffffff;
    align-content: center;
    height: 10px;
    padding: 13px 30px 6px 30px;
    margin-top: 70px;
    margin-right: 90px;
    display: flex;
}

#flip-button:hover{
    color: #ffffff;
    background-color: #E51555;
    cursor: pointer;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

#control-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    margin-left: 25px;
}

#reset{
    border-radius: 10px;
    width: 20%;
    padding: 14px 25px 5px 30px;
    background-color: #E51555;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#reset:hover{
    color: #E51555;
    background-color: #000000;
    border: 1px solid #000000;
    cursor: pointer;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

/* INFOPANEL LAYOVER */

#infopanel {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 340px;
    right: 0;
    bottom: 0;
    background-color: #E51555;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#infopanel_text{
    display: block;
    margin-left: 15%;
    margin-top: 96px;
    color: #ffffff;
}
    
#infoh1{
    padding-bottom: 64px;
}

.infoh2{
    padding-bottom: 10px;
    padding-left: 40px;
}

.infop{
    width: 500px;
    padding-bottom: 40px;
    padding-left: 80px;
}

/* DOTS */

#dot-container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px dashed #aaaaaa;
}

.dot {
    background-color: #aaaaaa;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    height: 8px;
    width: 8px;
}
.dot.active {
    background-color: #E51555;
    box-shadow: inset 2px 0px 2px -2px #333;
}


/* SLIDER STYLING */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 50%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #000000;
  border-radius: 1.3px;
}
input[type=range]::-webkit-slider-thumb {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
